@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--accent);
  transition: color 0.4s;
}

input {
  padding: 0.5rem;
  outline: 2px solid var(--color-border);
}

input:hover,
input:focus-visible {
  outline: 4px solid var(--color-border-hover);
}

button:focus-visible {
  outline: 2px solid dodgerblue;
}

.btn {
  display: block;
  padding: 1rem;
}

.btn--cta {
  outline: 1px solid var(--accent);
  margin-block: 1rem;
}

.btn--fill {
  width: 100%;
}

.btn--center {
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }

  button:hover {
    backdrop-filter: invert(0.2);
  }
}
